.description {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-height: 200px;
}

.google-login-button {
    float: right;
}

.rating {
    padding: 1.5rem 0rem;
}

.action-buttons {
    float: right;
}

.bookmark-button:focus {
    color: blue;
}

.favorite-recipes {
    padding: 1.5rem 0rem;
}

.saved-recipes {
    padding: 1.5rem 0rem;
}

.slide-image {
    height: 400px;
    width: 400px;
    background-size:cover;
    background-repeat: no-repeat;
}
